@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gradient-bg {
    background-color:#0f0e13;
    background-image: radial-gradient(at 90% 0%, rgba(47, 62, 106, 0.418) 0, transparent 30%);
}

.bg {
    background-color:#0f0e13;
    background-image: radial-gradient(at 90% 100%, rgba(47, 62, 106, 0.418) 0, transparent 30%);
}

.purple-gradient {
    background-image:  radial-gradient(at 50% 100%, rgba(114, 39, 65, 0.411) 0, transparent 65%);
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.logo {
    font-weight: 600;
    font-size: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.red {
    border: 1px solid red;
}

@tailwind base;
@tailwind components;
@tailwind utilities;